@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

* {
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  font-family: 'Montserrat', 'Arial';
  font-size: 10px;
}

.hero {
  background-image: url('../img/capa-madmax2.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: space-between;
  padding: 20px;
  position: relative;
  width: 100%;
}

.hero-nav {
  display: flex;
}

.container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 960px;
}

.hero-menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.hero-menu-item {
  color: #fff;
  font-size: 1.3em;
  font-weight: bold;
  margin: 0 25px;
  text-transform: uppercase;
}

.hero-user {
  align-items: center;
  display: flex;
}

.hero-user-photo {
  height: 45px;
  widht: 45px;
  border-radius: 50%;
  margin-right: 15px;
}

.hero-user-name {
  color: #fff;
  font-size: 1.3em;
  font-weight: bold;
}
