@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

* {
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  font-family: 'Montserrat', 'Arial';
  font-size: 10px;
}

.hero {
  background-attachment: fixed;
  background-image: url('../img/capa-madmax2.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: space-between;
  padding: 20px;
  position: relative;
  width: 100%;
}

.hero::after {
  background: linear-gradient( 0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 212, 255, 0) 75% );
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.hero-nav {
  display: flex;
}

.container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 960px;
}

.hero-menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.hero-menu-item a {
  color: #fff;
  font-size: 1.3em;
  font-weight: bold;
  margin: 0 25px;
  text-decoration: none;
  text-transform: uppercase;
}

.hero-user {
  align-items: center;
  display: flex;
}

.hero-user-photo {
  height: 45px;
  widht: 45px;
  border-radius: 50%;
  margin-right: 15px;
}

.hero-user-name {
  color: #fff;
  font-size: 1.3em;
  font-weight: bold;
}

.hero-content {
  z-index: 2;
}

.hero-title {
  color: #fff;
  font-size: 6.5em;
  font-weight: bold;
  line-height: 1.2em;
  margin: 0;
  text-transform: uppercase;
}

.genre-list {
  display: flex;
  list-style: none; 
  margin: 15px 0 30px;
  padding: 0;
}

.genre-item a {
  color: #fff;
  font-size: 13px;
  margin-right: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.hero-button {
  background-color: #e4bb23;
  border-radius: 40px;
  border: none;
  font-size: 1.5em;
  padding: 15px 50px;
  position: relative;
}

.hero-button i {
  font-size: 1.5em;
  position: absolute;
  right: 15px;
  top: 12px;
}

.hero-info {
  padding: 20px 0;
  font-size: 1.4em;
}

.hero-info p {
  margin: 14px 0;
}

.hero-info-title {
  color: #fff;
}

.hero-info-subtitle {
  color: #bc9a1d;
}