@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #FAFAFA;
  color: #000;
  font-family: 'Open Sans', sans-serif;
}

button {
  background-color: transparent;
  border: none;
  box-shadow: none;
  outline: none;
}

.container {
  margin: 0 auto;
  width: 100%;
}

@media screen and (min-width: 728px) {
  .container {
    width: 728px;
  }
}

.header {
  box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  padding: 8px 16px;
}

.header .container {
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.header__logo {
  display: inline-block;
  height: 40px;
}

.header__logo img {
  height: 100%;
}

.header__message-icon {
  color: #000;
  font-size: 1.6rem;
  text-decoration: none;
}

.stories {
  padding: 16px 0;
  width: 100%;
}

.stories__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.stories__list-item {
  align-items: center;
  border-radius: 100%;
  display: flex;
  height: 78px;
  justify-content: center;
  margin: 0 8px;
  overflow: hidden;
  width: 78px;
}

.stories__list-item-wrapper {
  border-radius: 100%;
  border: 2px solid white;
  display: inline-block;
  overflow: hidden;
  height: 72px;
  width: 72px;
}

.stories__list-item img {
  height: 100%;
  width: 100%;
}

.stories__list-item--has-new {
  background: linear-gradient(45deg, rgba(245,160,77,1) 0%, rgba(160,15,139,1) 100%);
}

.feed {
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 100%;
}

@media screen and (min-width: 728px) {
  .feed {
    padding: 16px 0;
  }
}

.post {
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, .1);
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  overflow: hidden;
}

.post__header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.user {
  align-items: center;
  display: flex;
}

.user__avatar {
  border-radius: 100%;
  display: flex;
  height: 40px;
  margin-right: 8px;
  overflow: hidden;
  width: 40px;
}

.user__avatar img {
  height: 100%;
  width: 100%;
}

.user__name {
  color: #000;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
}

.post__context {
  font-size: 1.4rem;
}

.post__photo {
  margin: 0;
}

.post__photo img {
  width: 100%;
}

.post__options {
  display: flex;
  justify-content: flex-start;
  padding: 4px 0;
}

.post__button {
  font-size: 2.4rem;
  margin: 0 8px;
}

.post__button--right {
  margin-left: auto;
  justify-self: flex-end;
}

.post__likes {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: flex-start;
  padding: 8px;
}

.user__photo {
  height: 30px;
  margin-right: 8px;
  width: 30px;
}

.user__photo img {
  border-radius: 100%;
  height: 100%;
  width: 100%;
}

.post__likes-description {
  font-size: 1.2rem;
}

.post__likes-description a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}
